<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>BinItRight - Home</title>
</head>
<body>
<h1>Welcome to BinItRight</h1>
<p>Check if your item belongs in the recycling bin!</p>

<form action="#" method="get">
    <input type="text" name="item" placeholder="Enter item (e.g. Plastic bottle)">
    <button type="submit">Check Item</button>
</form>

<div id="result-message">
    <p>This page is just a test to ensure everything is working! When code is pushed, Junit will trigger a test to see if this page is accessible, then return success and go to SCA > SAST > DAST > Docker Image > Deploy to test server.</p>
</div>
</body>
</html>